@charset "utf-8";


.memo_popup{
    position: absolute;
    inset: 0;
    width: 1300px;
    height: 900px;
    border-radius: 15px;
    box-shadow: 0 0 80px rgba(0,0,0,0.3);
    margin: auto;
    border: 2px solid #aaaaab;
    overflow: hidden;
    padding-bottom: 64px;
    box-sizing: border-box;
}
.memo_popup .header .h_top > span{
    width: 80px;
    height:100%;
    display:flex;
    justify-content:center;
    align-items: center;
    padding: 13px 15px 0 0;
    box-sizing: border-box;
}
.memo_popup .header .h_top > span img{
    width:40px
}

.memo_popup .header .h_bot {
    background: #eff6f9;
    height: 64px;
    display:flex;
    align-items:center;
    padding: 0 25px;
    gap: 20px;
    border-bottom: 1px solid #bfd6e1;
    border-top: 1px solid #bfd6e1;
    justify-content: space-between;
}

.memo_popup .header .h_bot > *{
    display:flex;
    align-items: center;
    gap: 30px;
}

.memo_popup .header .h_bot .nav{
    gap: 30px;
}

.memo_popup .header .h_bot .nav button{
    display: flex;
    width:60px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.memo_popup .header .h_bot .nav button:hover{
    background:#e8edef;
}
.memo_popup .header .h_bot .prev_btn{
    rotate:-90deg;
}
.memo_popup .header .h_bot .next_btn{
    rotate:90deg;
}

.memo_popup .header .h_bot img{
    width: 28px;
}

.memo_popup .header .h_bot .address {
    display: flex;
    background: #fafcfd;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    gap: 20px;
    flex: 3;
}
.memo_popup .header .h_bot .address li{
    gap: 20px;
    display: flex;
    align-items: center;
}
.memo_popup .header .h_bot .address li:not(:last-child)::after{content: '>'; }


.memo_popup .header .h_bot .search {
    position: relative;
    flex: 1;
    gap:10px;
    background: #fafcfd;
    padding: 0 20px;
    box-sizing: border-box;
}
.memo_popup .header .h_bot .search label{display:none}
.memo_popup .header .h_bot .search input{border:none;background:transparent;height: 100%;}
.memo_popup .header .h_bot .search img{ width:20px;} 
.memo_popup .header .h_bot .search .close_btn{width:70px;height:40px;position: absolute;right: 50px;}
.memo_popup .header .h_bot .search .close_btn span{width:15px; height:15px;}
[type="search"] {-webkit-appearance: textfield; }
[type="search"]::-webkit-search-results-button{display: none;}
[type="search"]::-webkit-search-cancel-button{
    /* opacity: 0; */
    margin:0 30px;
}


/* .memo_popup .header .h_bot .nav button[class$="_btn"]:not(.refresh_btn){
    width: 23px;
    height: 2px;
    background-color: #000;
    position: relative;
}
.memo_popup .header .h_bot .nav button[class$="_btn"]:not(.refresh_btn)::before{content: '';width: 18px;height: 2px;background:#000;position:absolute;rotate:45deg;top: calc(100% - 8px);right: -3px;} 
.memo_popup .header .h_bot .nav button[class$="_btn"]:not(.refresh_btn)::after{content: '';width: 18px;height: 2px;background:#000;position:absolute;rotate:-45deg;bottom: calc(100% - 8px);right: -3px;} 

.memo_popup .header .h_bot .nav .refresh_btn img{
    width: 28px;
    transform:scaleX(-1);
} */


/* main */
.memo_popup .main{
    display: flex;
    padding: 0 5px;
    box-sizing: border-box;
    font-size: 25px;
    height: 681px;
    transition: 0.3s;
}

.memo_popup .main .aside{
    position: relative;
    width: 425px;
    overflow-y: auto;
    margin-right: 10px;
}
.memo_popup .main .aside::-webkit-scrollbar{
    width: 33px;
    border: none;
}
.memo_popup .main .aside::-webkit-scrollbar-track{
    background-color: #f0f0f0;
} 
.memo_popup .main .aside::-webkit-scrollbar-thumb{
    background-color: #858585;
    border: 7px solid #f0f0f0;
    border-radius: 8px;
}
.memo_popup .main .aside::-webkit-scrollbar-button{
    height: 30px;
    background-color: #f0f0f0;
}



.memo_popup .main .aside ul:first-child{
    padding: 10px 0 100px;
    position: relative;
}
.memo_popup .main .aside ul:first-child::after{
    content:'';
    width: calc(100%  - 20px);
    height:1px;
    background:#ccc;
    position: absolute;
    bottom: 50px;
}
.memo_popup .main .aside li{
    height:65px;
    padding-left: 65px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.memo_popup .main .aside li:hover{
    background-color:#e5f3ff;
}
.memo_popup .main .aside li.active{
    background-color:#d9d9d9;
}
.memo_popup .main .aside li p{
    width: 35px;
}
.memo_popup .main .aside li img{
    object-fit:contain;
    width:100%;
}

.memo_popup .main .center{
    display:flex;
    gap: 10px 20px;
    padding: 10px 30px 10px;
    flex-wrap: wrap;
    width: 100%;
    flex: 1;
    align-content: flex-start;
}

.memo_popup .main .center li{
    width: 220px;
    min-height: 235px;
    text-align: center;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    padding: 5px 0 10px;
} 
.memo_popup .main .center li p{
    width:188px;
    height:188px;
}
.memo_popup .main .center li img{
    object-fit:contain;
    width:100%;
}
.memo_popup .main .center li:not(.active):hover{
    background-color:#e5f3ff;
}
.memo_popup .main .center li.active{
    border:1px solid #000;
    background-color:#e5f3ff;
}


/* footer */
.memo_popup .footer{
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    box-sizing: border-box;
    background: #f6f5e9;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #ccc;
    color: #5e5d59;
}

.memo_popup .footer p{
    position:relative;
}

.memo_popup .footer p:not(:last-child):after{
    content:'';
    width:1px;
    height: 35px;
    background-color:#ccc;
    position:absolute;
    right:15px;
    top: calc(50% - 17px);
}

.memo_popup .footer p:nth-child(1){width:192px; padding-left: 45px;}
.memo_popup .footer p:nth-child(2){flex:1;}
.memo_popup .footer p:nth-child(3){width:134px;}
.memo_popup .footer p:nth-child(4){width:334px;}
.memo_popup .footer p:nth-child(5){width:285px;}



























































































































