@charset "utf-8";

.folder_popup .header .h_bot {
    background: #eff6f9;
    height: 46px;
    display:flex;
    align-items:center;
    padding: 0 15px;
    gap: 20px;
    border-bottom: 1px solid #bfd6e1;
    border-top: 1px solid #bfd6e1;
}

.folder_popup .header .h_bot > *{
    display:flex;
    height: 30px;
    border-radius: 5px;
    align-items: center;
}

.folder_popup .header .h_bot .nav{
    gap: 15px;
}

.folder_popup .header .h_bot .nav button{
    border-radius: 8px;
    width: 30px;
    height: 30px;
}
.folder_popup .header .h_bot .nav button.active:hover{
    background:#e8edef;;
}
.folder_popup .header .h_bot .nav button:not(.active){
    cursor:default;
}
.folder_popup .header .h_bot .nav button img{
    position:absolute;
}
.folder_popup .header .h_bot .nav button img:nth-child(2){
    opacity: 0;
}

.folder_popup .header .h_bot .nav button.active img:nth-child(2){
    opacity: 1;
}


.folder_popup .header .h_bot .prev_btn{
    rotate:-90deg;
}
.folder_popup .header .h_bot .next_btn{
    rotate:90deg;
}

.folder_popup .header .h_bot img{
    width: 15px;
    pointer-events:none;
}

.folder_popup .header .h_bot .address {
    display: flex;
    background: #fafcfd;
    align-items: center;
    padding: 0 10px;
    box-sizing: border-box;
    gap: 20px;
    flex: 3;
}
.folder_popup .header .h_bot .address li{
    gap: 20px;
    display: flex;
    align-items: center;
}
.folder_popup .header .h_bot .address li:not(:last-child)::after{content: '>'; }


.folder_popup .header .h_bot .search {
    position: relative;
    gap:10px;
    background: #fafcfd;
    padding: 0 10px;
    box-sizing: border-box;
    flex: 1;
}
.folder_popup .header .h_bot .search label{display:none}
.folder_popup .header .h_bot .search input{border:none;background:transparent;height: 100%;}
.folder_popup .header .h_bot .search img{ width:20px;} 
.folder_popup .header .h_bot .search .close_btn{width:70px;height:40px;position: absolute;right: 50px;}
.folder_popup .header .h_bot .search .close_btn span{width:15px; height:15px;}
[type="search"] {-webkit-appearance: textfield; }
[type="search"]::-webkit-search-results-button{display: none;}
[type="search"]::-webkit-search-cancel-button{
    /* opacity: 0; */
    margin:0 30px;
}


/* main */
.folder_popup .main{
    display: flex;
    padding: 0 5px;
    box-sizing: border-box;
    font-size: 12px;
    height: calc(100% - 114px);
    transition: 0.3s;
}

.folder_popup .main .aside{
    position: relative;
    width: 195px;
    overflow-y: auto;
    margin-right: 10px;
}
.folder_popup .main .aside::-webkit-scrollbar{
    width: 20px;
    border: none;
}
.folder_popup .main .aside::-webkit-scrollbar-track{
    background-color: #f0f0f0;
} 
.folder_popup .main .aside::-webkit-scrollbar-thumb{
    background-color: #858585;
    border: 4px solid #f0f0f0;
    border-radius: 5px;
}
.folder_popup .main .aside::-webkit-scrollbar-button{
    height: 10px;
    background-color: #f0f0f0;
}



.folder_popup .main .aside ul:first-child{
    padding-top: 10px;
    margin-bottom: 50px;
    position: relative;
}
.folder_popup .main .aside ul:first-child::after{
    content:'';
    width: calc(100%  - 5px);
    height:1px;
    background:#ccc;
    position: absolute;
    top: calc(100% + 25px);
    left: 0;
    right: 0;
}
.folder_popup .main .aside ul:last-child{
    margin-bottom: 70px;
}
.folder_popup .main .aside li{
    height: 30px;
    padding-left: 25px;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    box-sizing: border-box;
    cursor: pointer;
}
.folder_popup .main .aside li > *{
    pointer-events:none;
}
.folder_popup .main .aside li:hover{
    background-color:#e5f3ff;
}
.folder_popup .main .aside li.active{
    background-color: #cce8ff;
    border: 1px solid #6a6a6a;
}
.folder_popup .main .aside li.pin:after{
    content:'';
    background: url(../image/icon/pin_icon.png)no-repeat center/contain;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 15px;
    transform: scaleX(-1);
}
.folder_popup .main .aside li img{
    width: 15px;
    height: 15px;
}

.folder_popup .main .contents{
    position: relative;
    display:flex;
    gap: 10px 20px;
    flex-wrap: wrap;
    flex: 1;
    align-content: flex-start;
}
.folder_popup .main .contents [class^="con"]{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px 15px 10px;
    margin: auto;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    gap: 15px;
    display: none;
}

.folder_popup .main .contents [class^="con"].active{
    display:flex;
}

.folder_popup .main .contents [class^="con"] li{
    width: 120px;
    height: 130px;
    border-radius: 3px;
    padding: 10px 0;
    box-sizing: border-box;
} 
.folder_popup .main .contents [class^="con"] li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width:100%;
    height:100%;
}
.folder_popup .main .contents [class^="con"] li a > *{
    pointer-events:none;
}
.folder_popup .main .contents [class^="con"] li img{
    max-height: 75px;
}
.folder_popup .main .contents [class^="con"] li:not(.active):hover{
    background-color:#e5f3ff;
}
.folder_popup .main .contents [class^="con"] li.active{
    border:1px solid #000;
    background-color:#e5f3ff;
}


/* footer */
.folder_popup .footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0 6px 0 15px;
    box-sizing: border-box;
    background: #fff;
}

.folder_popup .footer ul{
    display:flex;
    gap:15px;
}

.folder_popup .footer ul li:after{
    content:'|';
    color:#ccc;
    padding-left:15px;
}

.folder_popup .footer .preview{
    width: 24px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    background: #e5f3fb;
    border: 1px solid #0078d4;
    box-sizing: border-box;
}

.folder_popup .footer .preview img{
    width: 65%;
}


















































































































































