@charset "utf-8";

.memo_popup .header .h_top > span{
    height:100%;
    display:flex;
    justify-content:center;
    align-items: center;
    padding: 9px 15px 0 0;
    box-sizing: border-box;
}
.memo_popup .header .h_top > span img{
    width: 20px;
}

.memo_popup .header .h_bot {
    background: #eff6f9;
    height: 34px;
    display:flex;
    align-items:center;
    padding: 0 25px;
    gap: 20px;
    border-bottom: 1px solid #bfd6e1;
    border-top: 1px solid #bfd6e1;
    justify-content: space-between;
    color: #b9b9b9;
}

.memo_popup .header .h_bot > *{
    display:flex;
    align-items: center;
    gap: 30px;
}

.memo_popup .header .h_bot .nav{
    gap: 30px;
}

.memo_popup .header .h_bot .nav button{
    display: flex;
    width:60px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.memo_popup .header .h_bot .nav button:hover{
    background:#e8edef;
}
.memo_popup .header .h_bot .prev_btn{
    rotate:-90deg;
}
.memo_popup .header .h_bot .next_btn{
    rotate:90deg;
}

.memo_popup .header .h_bot img{
    width: 15px;
}

.memo_popup .header .h_bot .address {
    display: flex;
    background: #fafcfd;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    gap: 20px;
    flex: 3;
}
.memo_popup .header .h_bot .address li{
    gap: 20px;
    display: flex;
    align-items: center;
}
.memo_popup .header .h_bot .address li:not(:last-child)::after{content: '>'; }


.memo_popup .header .h_bot .search {
    position: relative;
    flex: 1;
    gap:10px;
    background: #fafcfd;
    padding: 0 20px;
    box-sizing: border-box;
}
.memo_popup .header .h_bot .search label{display:none}
.memo_popup .header .h_bot .search input{border:none;background:transparent;height: 100%;}
.memo_popup .header .h_bot .search img{ width:20px;} 
.memo_popup .header .h_bot .search .close_btn{width:70px;height:40px;position: absolute;right: 50px;}
.memo_popup .header .h_bot .search .close_btn span{width:15px; height:15px;}
[type="search"] {-webkit-appearance: textfield; }
[type="search"]::-webkit-search-results-button{display: none;}
[type="search"]::-webkit-search-cancel-button{
    margin:0 30px;
}


/* main */
.memo_popup .main{
    position: relative;
    padding: 0 8%;
    text-align: justify;
    box-sizing: border-box;
    height: calc(100% - 100px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.memo_popup .main h3{
    font-size: 50px;
    line-height: 1.3;
    font-weight: 700;
    margin-bottom: 30px;
}

.memo_popup .main p{
    margin: 0 220px;
    font-size: 20px;
    text-align: justify;
}

/* footer */
.memo_popup .footer{
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    box-sizing: border-box;
    background: #f6f5e9;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #ccc;
    color: #5e5d59;
}

.memo_popup .footer p{
    position:relative;
}

.memo_popup .footer p:not(:last-child):after{
    content:'';
    width:1px;
    height: 100%;
    background-color:#ccc;
    position:absolute;
    right:15px;
    top: 0;
}

.memo_popup .footer p:nth-child(1){flex: 2;padding-left: 25px;}
.memo_popup .footer p:nth-child(2){flex:1;}
.memo_popup .footer p:nth-child(3){flex: 1;}
.memo_popup .footer p:nth-child(4){flex: 2;}
.memo_popup .footer p:nth-child(5){
    flex: 3;
}

.memo_popup .main::-webkit-scrollbar{
    width: 10px;
}

.folder_popup .main .aside::-webkit-scrollbar-thumb{
    background-color: #858585;
    border: 4px solid #f0f0f0;
    border-radius: 5px;
}

.memo_popup .main::-webkit-scrollbar-button{
    height: 10px;
    background-color: transparent;
}

.memo_popup .main span.aniObj{
    position: absolute;
    max-width: 300px;
    max-height: 300px;
    z-index: -1;
}
.memo_popup .main span.aniObj:nth-of-type(1){left: -70px;bottom: -60px;}
.memo_popup .main span.aniObj:nth-of-type(2){left: -60px;top: -65px;}
.memo_popup .main span.aniObj:nth-of-type(3){right: -70px;bottom: -90px;}
.memo_popup .main span.aniObj:nth-of-type(4){left: 100px;top: -70px;}
.memo_popup .main span.aniObj:nth-of-type(5){right: 220px;top: 240px;}












































































































