@charset "utf-8";

.project_popup{
    position: absolute;
    inset: 0;
    box-shadow: 0 0 80px rgba(0,0,0,0.3);
    margin: auto;
    overflow: hidden;
    box-sizing: border-box;
}

.header .all_btn .mini_btn span,
.header .all_btn button span::before,
.header .all_btn button span::after{background-color: #fff;}
.header .all_btn .max_btn span{border-color:#fff;}

.project_popup .header .all_btn button:hover{
    background:#959595;   
}

.project_popup .header .all_btn .close_btn:hover{
    background:#c42b1c;   
}

.project_popup .header .all_btn .close_btn:hover span::before,
.project_popup .header .all_btn .close_btn:hover span::after{
    background-color: #fff;
}

.project_popup .header .h_top{
    background: #444;
    border-bottom: 1px solid #fff;
    color: #fff;
    gap: 20px;
    align-items: center;
}

.project_popup .header .h_top p{
    position:absolute;
    left: 55px;
}
.project_popup .header .h_top p.on{
    opacity: 1;
}

.project_popup .header .h_top > span{
    display:flex;
    justify-content:center;
    align-items: center;
    box-sizing: border-box;
}
.project_popup .header .h_top > span img{
    width: 30px;
}

.project_popup .header .h_bot {
    background: #dde3e8;
    height: 42px;
    display:flex;
    align-items:center;
    padding: 0 25px;
    gap: 20px;
    justify-content: space-between;
    font-size: 15px;
}
.project_popup .header .h_bot .infoBtn{
    cursor: pointer;
}


.project_popup .header .h_bot li.infoBtn::before{
    content:'i';
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin: 2px 5px 0 0;
    transition: 0.1s;
    
}

.project_popup .header .h_bot .infoBtn:hover::before,
.project_popup .header .h_bot .infoBtn.active::before{
    background-color: #000;
    color: #fff;
}

.project_popup .header .h_bot ul{
    display:flex;
    align-items: center;
    gap: 20px;
}

.project_popup .header .h_bot li{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project_popup .header .h_bot li:not(.infoBtn){
    color: #898989;
}

.project_popup .header .h_bot img{
    width: 20px;
    transform: scaleX(-1);
}




/* main */
.project_popup .main{
    position:relative;
    color: #fff;
    height: calc(100% - 83px);
}
.project_popup .main .swiper .swiper-slide{
    background: #202020;
}

.project_popup .main .swiper .info{
    position:absolute;
    top: 0;
    left: 0;
    text-shadow: 2px 0px 2px #000,0px 2px 2px #000,-2px 0px 2px #000,0px -2px 2px #000;
    line-height: 1.7rem;
    z-index: 1;
    font-size: 18px;
    padding: 41px 65px;
    border-radius:25px;
    transition: 0.1s;
}

.project_popup .main .swiper .info.active{
    opacity: 0;
}

.project_popup .main .swiper .info dl {
    display:flex;
    align-items: flex-start;
    gap: 10px;
}

.project_popup .main .swiper .info dl:last-child dd{
    backdrop-filter: blur(10px);
    /* border-radius: 20px; */
}

.project_popup .main .swiper{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.project_popup .main .swiper ul{
    position: absolute;
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 20px;
    padding: 5% 10% 3%;
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

.project_popup .main .swiper li{
   width: calc(33.333% - 40px);
   height: calc(33.333% - 20px);
   pointer-events:none;
   display: flex;
   align-items: center;
   justify-content: center;
}
.project_popup .main .swiper li img{width: 100%;height: 100%;}

.project_popup .main .swiper .footer{
    width: 450px;
    height: 50px;
    background: rgb(90 90 90 / 80%);
    border-radius: 50px;
    position: absolute;
    margin: auto;
    inset: auto 0 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 1;
}
.project_popup .main .swiper .footer > *{
    position:initial
}

.project_popup .main .swiper .footer .swiper-pagination{
    width: fit-content;
    height: 40px;
    border-radius: 50px;
    background: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.project_popup .main .swiper .footer .swiper-pagination-bullet{
    width: 30px;
    height: 30px;
    background:transparent;
    color: transparent;
    transition: 0.1s;
}

.project_popup .main .swiper .footer .swiper-pagination-bullet-active{
    background:#d2d2d2;
}

.project_popup .main .swiper .footer .swiper-button-prev,
.project_popup .main .swiper .footer .swiper-button-next{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #88888878;
    margin: 0;
}

.project_popup .main .swiper .footer .swiper-button-prev:hover,
.project_popup .main .swiper .footer .swiper-button-next:hover{
    background:#d4d4d4d9;
}

.project_popup .main .swiper .footer .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after,
.project_popup .main .swiper .footer .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
    color:#fff;
    font-size: 15px;
}











































































































































